$bg: #fff;
$primary-color: gray;
$secondary-color: red;
$primary-gradient: #1fb3ed;
$secondary-gradient: #7adbec;
$color:#000;

$bg-dark: #162447;
$primary-color-dark: #1f4068;
$secondary-color-dark: #1b1b2f;
$primary-gradient-dark: #e43f5a;
$secondary-gradient-dark: #26191b;
$color-dark:#efefef;

$bg-red: #d92027;
$primary-color-red: #ff9234;
$secondary-color-red: #ffcd3c;
$primary-gradient-red: #35d0ba;
$secondary-gradient-red: #0e9aa7;
$color-red:#424fff;

$bg-green: #63b7af;
$primary-color-green: #abf0e9;
$secondary-color-green: #d4f3ef;
$primary-gradient-green: #ee8572;
$secondary-gradient-green: #06623b;
$color-green:#575757;